In [2]:
name = input("What is your name?")
print("Your name is " + name + ".")

What is your name?유경
Your name is 유경.

In [4]:
name = input("What is your name? ")
print(f'Your name is {name}.')

What is your name? 유경
Your name is 유경.

In [5]:
type(name)

str

In [7]:
student = {
    "이름": "정유경",
    "나이":33, 
    "주소": "서울시 은평구 역말로 131-14"
}

In [9]:
student, type(student)

({'이름': '정유경', '나이': 33, '주소': '서울시 은평구 역말로 131-14'}, dict)

## test

In [15]:
print(student['이름'] + '의 나이는 '+ str(student['나이'])+'입니다.')

정유경의 나이는 33입니다.

In [19]:
very = '잘'
print(f"근데 쌍따옴표도 {very} 되던가?") # 되네

근데 쌍따옴표도 잘 되던가?

In [20]:
student ={}

In [27]:
student['name'] = input("이름: ")
student['age'] = int(input("나이: "))-1
student['address'] = input("주소: ")
student

이름:
나이:

ValueError: invalid literal for int() with base 10: ''